body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #6CC4A1;
  /*line-height: 2;*/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #6CC4A1;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4CACBC;
}

a {
  color: #719c68;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #c3e3bc;
}

p {
    line-height: 2;
}

span {
  text-decoration: underline;
}

hr {
  border: dotted #A0D995 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-pic {
  width: 10%;
}

.intro {
  width: 30%;
  margin: auto;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hacker {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
    background-color: #F6E3C5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
  background-color: #F6E3C5;
  padding: 50px 0 0 0;
}

.skills {
  background-color: #F6E3C5;
}

.skill-row {
  background-color: #F6E3C5;
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-me {
  background-color: #F6E3C5;
  padding: 0 0 50px 0;
}

.bottom-container {
  background-color: #A0D995;
  padding: 60px 0 10px 0;
}

.contact-message {
  width: 40%;
  margin: 20px auto 60px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 20px;
}

.copyright {
  font-size: 0.75rem;
  color: #F6E3C5;
}

.btn {
  background: #59ccde;
  background-image: -webkit-linear-gradient(top, #59ccde, #4CACBC);
  background-image: -moz-linear-gradient(top, #59ccde, #4CACBC);
  background-image: -ms-linear-gradient(top, #59ccde, #4CACBC);
  background-image: -o-linear-gradient(top, #59ccde, #4CACBC);
  background-image: linear-gradient(to bottom, #59ccde, #4CACBC);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/* Colour Palette #F6E3C5 #A0D995 #6CC4A1 #4CACBC #719C68 */
